.main-headings{
    display:flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    border-color: blue;
    width: 15%;
    border-right-color: darkblue;
    border-right-style: solid;
    text-align: right;
    justify-content: center;
    min-height: 200px;
    font-size: 36px
    ;
}

#bio{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    }

p.indent {
    margin-left: 30px;
    text-indent: 30px;
    width: 70%;
       }

.background-boxes{display:inline-flex: solid;}   

#surf{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuGMb4W4Y1MVKa8FogopUMSd5ujo3CbfylGw&usqp=CAU");}

.title{
    display: flexbox;
    flex-wrap: wrap;
    width: 22%;
    border-style: solid;
    background-color: cyan;
    justify-content: space-around

    ;}  

#work{
    display: flex;
    flex-direction: row;
}

.projects{
    width:70%;
    margin-left: 30px;
}

.grid{
    display:flex;
    width: 100%;
    grid-template-columns: repeat (3, 1fr);
    border-style: solid; border-color: red;}


.contact-info{
    width: 70%;
    
}

#contact-me{
    display: flex;
    flex-direction: row;
    }

    header {display:flexbox; background-color:cyan; width:100%; height: 100px; line-height: 100px;}

    h1{text-align: left; display: inline; font-size: 36px; margin-top: 50px;}
    
    #headshot{display:inline; z-index:1;}
    
    header nav {
        display: inline; 
        position: relative;
        float: right; 
        line-height: 80px;
        font-size: 24px;
            }
    
    header nav ul {margin: 10px 25px}
    
    ul li{
        list-style-type: none; 
        display: inline;
        font-weight: 290;
        margin-left: 25px;}
    
    .hero-banner{position:relative;
        display:flexbox; 
        margin-top: -8px;
        height:287px; 
        background-image: url("https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701694567.jpg");}
    
    #hero {display: flexbox; 
        float: right;
        color: white; 
        margin-right: -300px;
        margin-top:150px ;font-size: 19px; 
        font-weight:bold; 
        font-family: Cambria, Cochin;
        line-height: 90px;}
    /* decided not to use a background for the box */


